@model List<GetDestinationsQueryResult>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-striped">
    <tr>
        <th>#</th>
        <th>City</th>
        <th>Day&Night</th>
        <th>Price</th>
        <th>Capacity</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.id</td>
            <td>@item.city</td>
            <td>@item.daynight</td>
            <td>@item.price</td>
            <td>@item.capacity</td>
            <td><a href="/Admin/CQRS/GetDestination/@item.id/" class="btn btn-outline-info">Edit</a></td>
            <td><a href="/Admin/CQRS/DeleteDestination/@item.id/" class="btn btn-outline-danger">Delete</a></td>
        </tr>      
    }
</table>
<br />
<a href="/Admin/CQRS/AddDestination/" class="btn btn-success">New Destination</a>